
NET "clk" LOC = "L15"  |  IOSTANDARD = "LVCMOS33";
NET "rst" LOC = "T15"  |  IOSTANDARD = "LVCMOS33"  |  TIG;


NET "LEDs<0>" LOC = "U18"  |  IOSTANDARD = "LVCMOS33";
NET "LEDs<1>" LOC = "M14"  |  IOSTANDARD = "LVCMOS33";
NET "LEDs<2>" LOC = "N14"  |  IOSTANDARD = "LVCMOS33";
NET "LEDs<3>" LOC = "L14"  |  IOSTANDARD = "LVCMOS33";
NET "LEDs<4>" LOC = "M13"  |  IOSTANDARD = "LVCMOS33";
NET "LEDs<5>" LOC = "D4"   |  IOSTANDARD = "LVCMOS33";
NET "LEDs<6>" LOC = "P16"  |  IOSTANDARD = "LVCMOS33";
NET "LEDs<7>" LOC = "N12"  |  IOSTANDARD = "LVCMOS33";
#
#
#Controller 1 pins
#
NET "C1_DATA" LOC = "U16" | IOSTANDARD = "LVCMOS33"; #IO15-P
NET "C1_LATCH" LOC = "U15" | IOSTANDARD = "LVCMOS33"; #IO16-P
NET "C1_PULSE" LOC = "U13" | IOSTANDARD = "LVCMOS33"; #IO17-P
#
#
#Controller 2 pins
#
NET "C2_DATA" LOC = "M11" | IOSTANDARD = "LVCMOS33"; #IO18-P
NET "C2_LATCH" LOC = "R11" | IOSTANDARD = "LVCMOS33"; #IO19-P
NET "C2_PULSE" LOC = "T12" | IOSTANDARD = "LVCMOS33"; #IO20-P